/* Global Styles */

@import url('https://fonts.googleapis.com/css?family=Open+Sans:800|Poppins:500');

html {
    font-family: helvetica, serif;
}
html, body {
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
}

.wrapper {
    height: 100vh;
    width: 100%;
    background-image: url(../img/bg.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
}

.container{
    
}

.footer{
    padding: 1em; 
    background-color: rgb(50,50,50);
    color: white;
    text-align: center;
}
