/* Navigation header */

.inner{
    padding-top: 70px;
}

.inner h1 {
    margin: 0;
    padding: 2.5em 0 .8em 0;
    color: #f9f3f4;
    font-size: 400%;
    text-shadow: 2px 2px #098fa8;
}
.inner .btn_one {
    color: #098fa8;
    text-decoration: none;
    padding: .5em 5em;
    border-radius: 5px;
    border: 3px solid #098fa8;
    opacity: 1.0;
    font-size: 150%; 
    text-transform: uppercase;
}
.inner .btn_one:hover {
    color: #156377;
    border-color: #156377;
}

@media (max-width:768px) {
    .inner .btn_one{
        padding: 0.4em 4em;
        font-size: 130%;
    }
    
    .inner h1 {
        font-size: 350%;
    }
}


.open {
    color: #f9f3f4;
    font-size: 30px;
    float: left;
    padding-left: 1em;
    padding-top: 1em;
    cursor: pointer;
    display: block;   
}

.open:hover {
    opacity: 0.8;
}


/* Navigation */

.nav {
    height: 100vh;
    width: 0;
    position: fixed;
    z-index: 1;
    background-color: rgba(34,65,93,0.9);
    transition: 0.5s;
    display: block;
    overflow-x: hidden;
    
}
.nav a {
    clear: left;
    color: white;
    display: block;
    text-decoration: none;
    font-size: 22px;
    transition: 0.3s;
    padding: 0.5em;
}
.nav a:not(:first-child):hover {
    background-color: #f7941d;
}
.close {
    float: left;
    font-size: 30px;
    margin: 1em 0 0 1em;
}