/* Normal CSS */

body {
    display: flex;
    flex-direction: column;
}
  
main {
    flex: 1 0 auto;
    width: 100%;
    background-image: url(../img/gamebackground.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}


/* Game CSS */

canvas{
    display: block;
    margin: 0 auto;
    background-image: url("../img/ground2.jpg");
}

#game-menu{
    position: absolute;
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
    align-items: center;
    flex-direction: column;
}

#table{
    visibility: hidden;
    position: absolute;
    display: flex;
    justify-content: center;
    width: 97%;
    height: 90%;
    align-items: flex-start;
    flex-direction: raw;
    font-size: 100%;
    margin: 20px;
}

#table td, #table th {
    border: 1px solid #ddd;
    padding: 16px;
}
#table th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #098fa8;
    color: white;
}

#table tr:nth-child(even){background-color: #f2f2f2;}
#table tr {background-color: rgb(100,100,100)}

#game button{
    color: #098fa8;
    text-decoration: none;
    padding: .5em 5em;
    border-radius: 5px;
    border: 3px solid #098fa8;
    opacity: 1.0;
    font-size: 150%;
    text-transform: uppercase;
    background-color: Transparent;
    cursor:pointer;
    margin: 10px;
    z-index: 100;
}


