.preload{
    width: 100%;
    height: 100vh;
    background: #333;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
}

.logo{
    width: 300px;
    height: 70px;
    margin: 250px auto 50px auto;
    font-size: 50px;
    text-shadow: -1px 2px 2px #000;
    text-align: center;
    color: #098fa8;
}   

.logo span {
    color: #f9f3f4;
}
.loader-frame{
    width: 70px;
    height: 70px;
    margin: auto;
    position: relative;
}

.loader1 {
    position: absolute;
    border: 5px solid transparent;
    border-radius: 50%;
    width: 70px;
    height: 70px;
    border-top: 5px solid #098fa8;
    border-bottom: 5px solid #f9f3f4;
    animation: clockwisespin 2s linear 2;    
}

@keyframes clockwisespin {
    from{transform: rotate(0deg);}
    to{transform: rotate(360deg);}
}

@keyframes fadeout{
    from{opacity: 1;}
    to{opacity: 0;}
}
